{%- set exclude_fields = [
    'id',
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    'author',
    'version',
    'author_email',
    'maintainer',
    'maintainer_email',
    'source',
    'state'
    ] -%}

{%- set schema = h.datagovmk_load_dataset_schema(pkg_dict) -%}
{% ckan_extends %}
{% block package_additional_info %}
  {%- for field in schema.dataset_fields -%}
    {%- set preset = h.datagovmk_get_preset(field) or {} -%}
    {%- set display_snippet = field.display_snippet or preset.display_snippet -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none -%}
      <tr>
        <th scope="row" class="dataset-label">{{
          h.datagovmk_get_language_text(field.label) }}</th>
        <td class="dataset-details"{% if field.display_property %} property="{{ field.display_property }}"{% endif %}>
          {%- if display_snippet -%}
            {%- snippet 'datagovmk/display_snippets/' + display_snippet, field=field, data=pkg_dict, schema=schema -%}
          {%- else -%}
            {{ pkg_dict[field.field_name] }}
          {%- endif -%}
          <pre> {{ tags }}</pre>
        </td>
        
      </tr>
    {%- endif -%}
  {%- endfor -%}
  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}
{% endblock %}