{% resource 'datagovmk/js/modules/dataset-form-upload-attr.js' %}

{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block errors %}
  {%- if errors -%}
    {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
    {%- snippet 'scheming/snippets/errors.html',
      errors=errors, fields=schema.dataset_fields,
      entity_type='dataset', object_type=dataset_type -%}
  {%- endif -%}
{% endblock %}

{% block basic_fields %}
  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
  {%- for field in schema.dataset_fields -%}
    {%- if field.form_snippet is not none -%}
      {% if field.field_name == 'org_catalog_enabled' and not request.params.get('metadata') %}
        {%- snippet 'scheming/snippets/form_field.html',
          field=field, data=data, errors=errors, licenses=c.licenses,
          entity_type='dataset', object_type=dataset_type -%}
      {% elif field.field_name != 'org_catalog_enabled' %}
        {%- snippet 'scheming/snippets/form_field.html',
        field=field, data=data, errors=errors, licenses=c.licenses,
        entity_type='dataset', object_type=dataset_type -%}
      {% endif %}
    {%- endif -%}
  {%- endfor -%}
  {%- if 'resource_fields' not in schema -%}
    <!-- force controller to skip resource-editing step for this type -->
    <input type="hidden" name="_ckan_phase" value="" />
  {%- endif -%}
{% endblock %}

{% block metadata_fields %}
    {% block package_metadata_fields_custom %}
        {% block custom_fields %}
            {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
        {% endblock %}
    {% endblock %}

    <div class="form-group control-medium">
      <label class="control-label" for="add_dataset_agreement"><span title="{{ _("This field is required") }}" class="control-required">*</span>{{ _('Add dataset agreement') }}</label>
      <div class="controls">
        <fieldset class="checkboxes">
          <label>
            <input id="add_dataset_agreement" type="checkbox" {% if data.add_dataset_agreement %} checked {% endif %} name="add_dataset_agreement">
            {{ _('Agree that you have provided an authority to add this dataset.') }}
          </label>
        </fieldset>
        {% if errors[_('Add dataset agreement')] %}
          <span class="error-block">{{ _('You must agree to add this dataset.') }}</span>
        {% endif %}
      </div>
    </div>

    {% set authority_file_url = data.authority_file_url %}
    {% set is_upload = authority_file_url and not authority_file_url.startswith('http') %}
    {% set is_url = authority_file_url and authority_file_url.startswith('http') %}
    {% set is_upload_enabled = h.uploads_enabled() %}

    {% snippet 'snippets/upload_authority.html', data=data, errors=errors, is_upload_enabled=is_upload_enabled, upload_label=_('If necessary, attach a file with additional authority to add this dataset'), field_url='authority_file_url', field_upload='authority_file_upload', is_url=is_url, is_upload=is_upload, url_label= _('Uploaded authority file'), is_required=false %}

    {#{% if not request.params.get('metadata') %}
      <div class="form-group control-medium">
        <label class="control-label" for="catalog_enabled">{{ _('Organization catalog') }}</label>
        <div class="controls">
          <fieldset class="checkboxes">
            <label>
              <input id="catalog_enabled" type="checkbox" {% if data.catalog_enabled %} checked {% endif %} name="catalog_enabled">
              {{ _('Mark this dataset as a catalog for organization') }}
            </label>
          </fieldset>
        </div>
      </div>
    {% endif %}#}
{% endblock %}


