{% resource 'datagovmk/js/modules/increment-downloads.js' %}

<div class="btn-group resource-download">
  <a class="btn btn-success resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}" {% if res.url_type == 'upload' %} data-module="datagovmk-increment-downloads" data-module-resource_id="{{ res.id }}" {% endif %}>
    {% if res.resource_type in ('listing', 'service') %}
      <i class="fa fa-eye"></i> {{ _('View') }}
    {% elif res.resource_type == 'api' %}
      <i class="fa fa-key"></i> {{ _('API Endpoint') }}
    {% elif (not res.has_views or not res.can_be_previewed) and not res.url_type == 'upload'%}
      <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
    {% else %}
      <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
    {% endif %}
  </a>
    {% block download_resource_button %}
      {%if res.datastore_active %}
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, bom=True) }}" target="_blank" data-module="datagovmk-increment-downloads" data-module-resource_id="{{ res.id }}">
              <span>CSV</span>
            </a>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='tsv', bom=True) }}" target="_blank" data-module="datagovmk-increment-downloads" data-module-resource_id="{{ res.id }}">
              <span>TSV</span>
            </a>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='json') }}" target="_blank" data-module="datagovmk-increment-downloads" data-module-resource_id="{{ res.id }}">
              <span>JSON</span>
            </a>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='xml') }}" target="_blank" data-module="datagovmk-increment-downloads" data-module-resource_id="{{ res.id }}">
              <span>XML</span>
            </a>
          </li>
        </ul>
      {%endif%}
    {% endblock %}
</div>
