<div role="main" class="hero">
  <div class="container-fluid">
    <div class="row flex flex-wrap">
      <div class="col-md-6 intro">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      <div class="col-md-6 accent">
        {% block stats %}
          {% snippet 'home/snippets/stats_alt.html' %}
        {% endblock %}
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
        <div class="lists">
          {% set recent_datasets = h.datagovmk_get_recently_updated_datasets() %}
          {% set popular_organizations = h.datagovmk_get_most_active_organizations() %}
          <div class="col-md-6">
            <h4 class="title"><i class="fa fa-clock-o"></i> {{_('Recent datasets')}}</h4>
            {% if recent_datasets %}
            <ul class="list-unstyled">
              {% for dataset in recent_datasets %}
                <li><i class="fa fa-database"></i> <a href="{{ h.url_for(controller='package', action='read', id=dataset.name) }}">{{ dataset.title }}</a></li>
              {% endfor %}
            </ul>
            {% else %}
              <p>{{ _('No datasets available.') }}</p>
            {% endif %}
          </div>
          <div class="col-md-6">
            <h4 class="title"><i class="fa fa-star"></i> {{_('Most active institutions')}}</h4>
            {% if popular_organizations %}
            <ul class="list-unstyled">
              {% for organization in popular_organizations %}
                <li><i class="fa fa-university"></i> <a href="{{ h.url_for(controller='organization', action='read', id=organization.name) }}">{{ organization.display_name }}</a></li>
              {% endfor %}
            </ul>
            {% else %}
              <p>{{ _('No organizations available.') }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="featured-charts">
        <div class="item">
          <h4 class="title"><i class="fa fa-database"></i><a href="#">Chart builder view title</a></h4>
          <iframe src="http://localhost:5000/dataset/ttpo6eh-nodatoheh-cet/resource/a572a1ef-732d-4de9-b4ee-e0fab8242ead/view/db871b96-17e9-418f-8c43-aeadbf59baaf"></iframe>
        </div>
        <div class="item">
            <h4 class="title"><i class="fa fa-database"></i><a href="#">Another chart builder view title</a></h4>
            <iframe src="http://localhost:5000/dataset/ttpo6eh-nodatoheh-cet/resource/a572a1ef-732d-4de9-b4ee-e0fab8242ead/view/a5263200-9890-4e5b-bc8c-85c12ed8948c"></iframe>
        </div>
        <div class="item">
            <h4 class="title"><i class="fa fa-database"></i><a href="#">This is a very long chart builder view title which should wrap</a></h4>
            <iframe src="http://localhost:5000/dataset/ttpo6eh-nodatoheh-cet/resource/a572a1ef-732d-4de9-b4ee-e0fab8242ead/view/5d2a343f-40c6-40a7-a416-2579a52dae4e"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div role="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          {% set news = h.get_recent_news_posts(3) %}
          {% if news %}
          <div class="col-md-12 col-lg-6 news">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <span class="fa fa-newspaper-o"></span>
                  <span>{{ _('News') }}</span>
                </h2>
                <a href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='news_show', page='/') }}" class="btn btn-primary btn-primary-outline">{{ _('Archive') }}</a>
              </div>
              <div class="panel-body">
                {% for item in news %}
                <a class="item" href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='news_show', page='/' + item.name) }}">
                  {% if item.image %}
                  <img class="image" src="{{ item.image }}" alt="photo">
                  {% endif %}
                  <span class="body">
                    <span class="title" role="heading">{{ item.title }}</span>
                    <span class="date" role="text">{{ h.render_datetime(item.publish_date) }}</span>
                    <span class="description" role="text">{{ item.content|striptags|truncate(300) }}</span>
                  </span>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
          {% set blogs = h.get_recent_blog_posts(3) %}
          {% if blogs %}
          <div class="col-md-12 col-lg-6 blog">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <span class="fa fa-sticky-note"></span>
                  <span>{{ _('Blog') }}</span>
                </h2>
                <a href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/') }}" class="btn btn-primary btn-primary-outline">{{ _('Archive') }}</a>
              </div>
              <div class="panel-body">
                {% for item in blogs %}
                <a class="item" href="{{ h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + item.name) }}">
                  {% if item.image %}
                  <img class="image" src="{{ item.image }}" alt="photo">
                  {% endif %}
                  <span class="body">
                    <span class="title" role="heading">{{ item.title }}</span>
                    <span class="description" role="text">{{ item.content|striptags|truncate(300) }}</span>
                  </span>
                </a>
                {% endfor %}
              </div>
            </div>
            </div>
        {% endif %}
        </div>
        <div class="row row2">
          <div class="col-md-6 col1">
            {# Note: this featured_group block is used as an example in the theming
               tutorial in the docs! If you change this code, be sure to check
               whether you need to update the docs. #}
            {# Start template block example. #}
            {% block featured_group %}
              {# snippet 'home/snippets/featured_group.html' #}
            {% endblock %}
            {# End template block example. #}
          </div>
          <div class="col-md-6 col2">
            {% block featured_organization %}
              {# snippet 'home/snippets/featured_organization.html' #}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
