{% ckan_extends %}

{% block primary_content_inner %}
    {{ super() }}

    {% block related_datasets %}
        {% set related_datasets = h.datagovmk_get_related_datasets(pkg.id, limit=5) %}

        <h3>{{ _('Related datasets') }}</h3>

        {% if related_datasets | length == 0 %}
            <div>{{ _('No related datasets found.') }}</div>
        {% endif %}

        {% for dataset in related_datasets %}
            {% set url = h.url_for(controller='package', action='read', id=dataset.name) %}
            <div><a href="{{ url }}">{{ dataset.title }}</a></div>
        {% endfor %}
    {% endblock %}
{% endblock %}
