{% ckan_extends %}

{% block package_description %}
<div class="dataset-header-wrap">
  <div class="dataset-header">
    {{ super() }}
  </div>
  {% snippet 'package/snippets/stats.html' %}
</div>
{% endblock %}

{% block package_tags %}
  {{ super() }}
  {% block related_datasets %}
    {% set related_datasets = h.datagovmk_get_related_datasets(pkg.id, limit=5) %}

    {% if related_datasets %}
    <section class="related-datasets">
      <h3 class="title">{{ _('Related datasets') }}</h3>
      <ul class="{{ list_class or 'dataset-list list-unstyled' }}">
      {% for dataset in related_datasets %}
        {% snippet 'snippets/package_item.html', package=dataset %}
      {% endfor %}
      </ul>
    </section>
    {% endif %}
  {% endblock %}
{% endblock %}
