{% resource 'datagovmk/js/setup_increment_downloads.js' %}
{% resource 'datagovmk/js/modules/increment-downloads.js' %}

{% ckan_extends %}

{% block like_button %}
  {{ super() }}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li>
      <div class="btn-group">
        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-plus-square"></i>
          {{ _('New view') }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {% for option in h.get_allowed_view_types(c.resource, c.pkg_dict)  %}
            {% set url = h.url_for(controller='package', action='edit_view', id=c.pkg_dict.name, resource_id=c.resource.id, view_type=option[0]) %}
            <li><a href="{{ url }}"><i class="fa fa-{{ option[2] }}"></i> {{ option[1] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </li>
  {% endif %}
{% endblock %}

{% block resource_additional_information_inner %}
  <div class="module-content" data-resource-id="{{ res.id }}">
      {%- block resource_metadata_download -%}
      <div class="btn-group pull-right download-metadata-control">
          <a href="{{ h.url_for(controller='ckanext.datagovmk.controller:BulkDownloadController', action='download_resources_metadata', format='json', package_id=c.pkg_dict['id'], resources=res.id) }}"
             class="btn btn-success download-metadata-btn"><i class="fa fa-download"></i> {{ _('Download Metadata') }} </a>
            <button href="#" class="btn btn-success dropdown-toggle download-metadata-btn" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ h.url_for(controller='ckanext.datagovmk.controller:BulkDownloadController',
                              action='download_resources_metadata', format='json', package_id=c.pkg_dict['id'], resources=res.id) }}" class="download-metadata">JSON</a>
                <a href="{{ h.url_for(controller='ckanext.datagovmk.controller:BulkDownloadController',
                                action='download_resources_metadata', format='xml', package_id=c.pkg_dict['id'], resources=res.id) }}" class="download-metadata">XML</a>
                <a href="{{ h.url_for(controller='ckanext.datagovmk.controller:BulkDownloadController',
                                action='download_resources_metadata', format='rdf', package_id=c.pkg_dict['id'], resources=res.id) }}" class="download-metadata">RDF</a>
                <a href="{{ h.url_for(controller='ckanext.datagovmk.controller:BulkDownloadController',
                                action='download_resources_metadata', format='csv', package_id=c.pkg_dict['id'], resources=res.id) }}" class="download-metadata">CSV</a>
              </li>
            </ul>
        </div>
    {%- endblock -%}
    <h2>{{ _('Additional Information') }}</h2>
    <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
      <thead>
        <tr>
          <th scope="col">{{ _('Field') }}</th>
          <th scope="col">{{ _('Value') }}</th>
        </tr>
      </thead>
      <tbody>
        {%- block resource_last_updated -%}
          <tr>
            <th scope="row">{{ _('Last updated') }}</th>
            <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
          </tr>
        {%- endblock -%}
        {%- block resource_created -%}
          <tr>
            <th scope="row">{{ _('Created') }}</th>
            <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
          </tr>
        {%- endblock -%}
        {%- block resource_format -%}
          <tr>
            <th scope="row">{{ _('Format') }}</th>
            <td>{{ res.mimetype_inner or res.mimetype or res.format or _('unknown') }}</td>
          </tr>
        {%- endblock -%}
        {%- block resource_license -%}
          <tr>
            <th scope="row">{{ _('License') }}</th>
            <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
          </tr>
        {%- endblock -%}
        {%- block resource_fields -%}
          {%- for field in schema.resource_fields -%}
            {%- if field.field_name not in exclude_fields
                and field.display_snippet is not none -%}
              <tr>
                <th scope="row">
                  {{- h.scheming_language_text(field.label) -}}
                </th>
                <td>
                  {%- snippet 'scheming/snippets/display_field.html',
                      field=field, data=res, entity_type='dataset',
                      object_type=dataset_type -%}
                </td>
              </tr>
            {%- endif -%}
          {%- endfor -%}
        {%- endblock -%}
      </tbody>
    </table>
  </div>

{% endblock %}

{% block resource_content %}
  {% block resource_read_title %}<h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>{% endblock %}
  {% block resource_read_url %}
    {% if res.url and h.is_url(res.url) %}
      <p class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
    {% elif res.url %}
      <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
    {% endif %}
  {% endblock %}
  <div class="prose notes" property="rdfs:label">
    {% if res.description %}
      {{ h.render_markdown(h.get_translated(res, 'description')) }}
    {% endif %}
    {% if not res.description and c.package.notes %}
      <h3>{{ _('From the dataset abstract') }}</h3>
      <blockquote>{{ h.markdown_extract(h.get_translated(c.package, 'notes')) }}</blockquote>
      <p>{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
    {% endif %}
  </div>
{% endblock %}

{%- block secondary_content -%}
  {%- block resource_stats -%}
    {% set stats = h.datagovmk_get_resource_stats(res.id) %}
    {% if stats or stats == {} %}
      {% snippet 'package/snippets/stats.html', stats=stats.visits_ever or 0, total_downloads=stats.downloads or 0 %}
    {% endif %}
  {%- endblock -%}
  {{ super() }}
{%- endblock -%}
