{% ckan_extends %}

{% block info %}
  {{ super() }}

  {% block package_stats %}
    {% if c.pkg_dict %}
    {% set stats = h.datagovmk_get_dataset_stats(c.pkg_dict.id) %}
      {% if stats %}
      <div class="module module-narrow module-shallow context-info">
        <h2 class="module-heading"><i class="fa fa-bar-chart"></i> {{ _('Package Stats') }}</h2>
        <section class="module-content">
          <div>
              <label>{{ _('Recent Visits') }}</label>
              <span>{{ stats.visits_recently }}</span>
          </div>
          <div>
                <label>{{ _('Total Visits') }}</label>
                <span>{{ stats.visits_ever }}</span>
            </div>
        </section>
      </div>
      {% endif %}
    {% endif %}
  {% endblock %}

{% endblock %}