{% import 'macros/form.html' as form %}
{% ckan_extends %}
{% block search_input %}
<div class="row">
    <div class="col-md-6">
            {% call form.input(
                '_start_date',
                id='field-start-date',
                label= _('From'),
                type='date',
                classes=['control-medium'],
                attrs={"class": "form-control"},
                is_required=False
                )
            %}
            {% endcall %}
    </div>
    <div class="col-md-6">
            {% call form.input(
                '_end_date',
                id='field-start-date',
                label= _('To'),
                type='date',
                classes=['control-medium'],
                attrs={"class": "form-control"},
                is_required=False
                )
            %}
            {% endcall %}
    </div>
</div>
{{ super() }}
{% endblock %}