{% set current_url = h.full_current_url() %}
{% block social_media %}
  <ul class="list-inline list-social-media pull-right">
    <li class="title">{{ _("Share") }}</li>
    <li><a class="btn btn-link btn-social-icon btn-facebook" title="{{ _('Share on Facebook') }}" href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a class="btn btn-link btn-social-icon btn-twitter" title="{{ _('Share on Twitter') }}" href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a class="btn btn-link btn-social-icon btn-google" title="{{ _('Share on Google+') }}" href="https://plus.google.com/share?url={{ current_url }}" target="_blank"><i class="fa fa-google"></i></a></li>
  </ul>
{% endblock %}
