{% import "macros/form.html" as form %}

{% resource 'datagovmk/js/modules/upload-authority.js' %}

{% if is_upload_enabled %}
<div class="image-upload" data-module="upload-authority" data-module-is_url="{{ 'true' if is_url else 'false' }}" data-module-is_upload="{{ 'true' if is_upload else 'false' }}"
     data-module-field_url="{{ field_url }}" data-module-field_upload="{{ field_upload }}" data-module-field_clear="clear_upload" data-module-upload_label="{{ upload_label }}" data-module-field_name="image_url">
{% endif %}


 {{ form.input(field_url, label=url_label, id='field-image-url', type='url', placeholder=placeholder, value=data.get(field_url), error=errors.get('authority'), classes=['control-full'], is_required=is_required) }}


  {% if is_upload_enabled %}
  {{ form.input(field_upload, label=upload_label, id='field-image-upload', type='file', placeholder='', value='', error=errors.get('authority'), classes=['control-full'], is_required=true) }}
  {% if is_upload %}
  {{ form.checkbox('clear_upload', label=_('Clear Upload'), id='field-clear-upload', value='true', error='', classes=['control-full']) }}
  {% endif %}
  {% endif %}

  {% if is_upload_enabled %}</div>{% endif %}
