{% ckan_extends %}

{% block header_wrapper %}
{% block header_account %}
<header class="account-masthead">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        {% block header_account_container_content %}
          {% snippet 'snippets/language_selector.html' %}
          {{ super() }}
        {% endblock %}
      </div>
    </div>
  </div>
</header>
{% endblock %}
<header class="navbar navbar-static-top masthead">
  {% block header_debug %}
  {{ super() }}
  {% endblock %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="navbar-right">
          <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="fa fa-bars"></span>
          </button>
        </div>
        <div class="flex flex-wrap align-items-end justify-content-between">
          <hgroup class="{{ g.header_class }} navbar-left">
            {% block header_logo %}
            {{ super() }}
            {% endblock %}
          </hgroup>
          <div class="collapse navbar-collapse" id="main-navigation-toggle">
            <nav class="section navigation">
              <ul class="nav nav-pills">
              {% block header_site_navigation %}
                {% block header_site_navigation_tabs %}
                  {% snippet 'snippets/main_navigation.html' %}
                {% endblock %}
              </ul>
            </nav>
            {% endblock %}

            {% block header_site_search %}
            {# No need for two search inputs on the front page. #}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}
