<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
        <i class="fa fa-info-circle"></i>
        {{ _('What are Organizations?') }}
    </h2>
    <div class="module-content">
        <p>
            {% trans %}
            Organizations are bodies and public institutions that create,
            manage and publish collections of datasets in an open
            data format, organized in special data sets on the portal.
            {% endtrans %}
        </p>
    </div>
</div>