.featured-charts-wrap {
  background: @white;
}

.featured-charts {
  padding-left: 0;
  padding-right: 0;
  width: auto;
  @media (min-width: @screen-md-min) {
    width: percentage((10 / @grid-columns));
    margin-left: percentage((1 / @grid-columns));
  }
  .item {
    margin: @grid-gutter-width/2;
    min-height: @grid-gutter-width*10;
    &.box {
      border: 1px solid @gray-lighter;
      border-radius: 0;
      box-shadow: none;
    }
  }
  .title {
    .fa {
      color: @brand-secondary;
    }
    font-size: @font-size-h4;
    font-weight: 400;
    margin: 0 0 @grid-gutter-width;
    padding-bottom: @grid-gutter-width/2;
    border-bottom: 1px solid @gray-lighter;
    text-transform: uppercase;
    justify-content: center;
  }
}
