{% import 'macros/form.html' as form %}

{% extends "page.html" %}

{% set form_url = h.url_for(controller='ckanext.datagovmk.controller:ReportIssueController', action='report_issue_form') %}
{% set login_url = h.url_for(controller='user', action='login') %}
{% set successfuly_reported = successfuly_reported if successfuly_reported is defined else False %}

{% block page_header %}
  {# Don't render anything in this block. #}
{% endblock %}

{% block secondary %}
  {# Don't render anything in this block. #}
{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  {% block breadcrumb_content_inner %}
    <li class="active">
      <a href="{{ form_url }}">{{ _('Report an issue') }}</a>
    </li>
  {% endblock %}
{% endblock %}

{% block subtitle %}{{ _('Report an issue') }}{% endblock %}

{% block primary_content_inner %}
{{ super() }}

  {% if login_required %}
    <p class="alert alert-warning">{{ _('Please login before reporting an issue.')}}</p>
    <p><a href="{{ login_url }}" class="btn btn-primary">{{_('Login')}}</a></p>
  {% elif successfuly_reported %}
    <p class="alert alert-success">{{ _('The issue has been successfully reported. You can report another issue by clicking the button below.') }}</p>
    <p><a href="{{ form_url }}" class="btn btn-primary">{{_('Report issue')}}</a></p>
  {% else %}
    <form action="{{ form_url }}" method="POST">
        <h2>{{ _('Report an issue') }}</h2>

        {{ form.input('issue_title', id='field-title', label=_('Title'), placeholder=_('The issue title'), value='', error=errors.issue_title, classes=['control-full'], is_required=true,attrs={'required': 'required', 'class': 'form-control'}) }}

        {{ form.markdown('issue_description', id='field-description', label=_('Description'), value='', error='', classes=['control-full'], is_required=true,attrs={'required': 'required', 'class': 'form-control'}) }}
        <div class="form-actions">
          <a href="{{ h.url_for('home.index') }}" class="btn btn-danger pull-left">{{ _('Cancel') }}</a>
          <button type="submit" class="btn btn-primary btn-submit">{{ _('Submit') }}</button>
        </div>
    </form>
  {% endif %}
{% endblock %}
