{% ckan_extends %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('Administer CKAN') }}
    </h2>
    <div class="module-content">

      {% set docs_url = "http://docs.ckan.org/en/{0}/sysadmin-guide.html".format(g.ckan_doc_version) %}
      
      <p>
        {{_('As a sysadmin user you have full control over this CKAN instance. Proceed with care!')}}
      </p>
      <p>
        {{_('For guidance on using sysadmin features, see the CKAN')}}  
        <a href="{{ docs_url }}" target="_blank">{{_('sysadmin guide')}}</a>
      </p>
    </div>
  </div>
{% endblock %}